# Lists

In [1]:
7//2

3

In [5]:
food = ['rice','noodles','bread','steak']

print food

['rice', 'noodles', 'bread', 'steak']

In [8]:
print len(food)

4

In [9]:
food[0]

'rice'

In [10]:
food[-1]

'steak'

In [11]:
food[0:2]

['rice', 'noodles']

In [12]:
food.append('banana')

In [13]:
print food

['rice', 'noodles', 'bread', 'steak', 'banana']

In [14]:
more_food = ['mee siam', 'mee soto']

In [15]:
food + more_food

['rice', 'noodles', 'bread', 'steak', 'banana', 'mee siam', 'mee soto']

In [16]:
food.extend(more_food)

In [17]:
print food

['rice', 'noodles', 'bread', 'steak', 'banana', 'mee siam', 'mee soto']

In [18]:
print(food.remove('steak'))

None

In [19]:
print food

['rice', 'noodles', 'bread', 'banana', 'mee siam', 'mee soto']

In [20]:
popped = food.pop()

In [21]:
popped

'mee soto'

In [22]:
food.reverse()

In [23]:
print food

['mee siam', 'banana', 'bread', 'noodles', 'rice']

In [24]:
food.sort()

In [25]:
print food

['banana', 'bread', 'mee siam', 'noodles', 'rice']

In [33]:
list_numbers = [5,9,10,1,6]

In [27]:
list_numbers2 = [-10,-7,-8,11,4]

In [28]:
list_numbers.sort()

In [29]:
list_numbers

[1, 5, 6, 9, 10]

In [30]:
list_numbers.sort(reverse=True)

In [31]:
list_numbers

[10, 9, 6, 5, 1]

In [32]:
list_numbers

[10, 9, 6, 5, 1]

In [34]:
list_numbers

[5, 9, 10, 1, 6]

In [36]:
sorted(list_numbers) #Actual list unaffected

[1, 5, 6, 9, 10]

In [37]:
sorted_nums = sorted(list_numbers2, key=abs)

In [38]:
sorted_nums

[4, -7, -8, -10, 11]

In [39]:
a = min(list_numbers) #similar for max()

In [40]:
a

1

In [41]:
b = sum(list_numbers)

In [42]:
b

31

In [43]:
food

['banana', 'bread', 'mee siam', 'noodles', 'rice']

In [44]:
food.index('bread')

1

In [45]:
food.index('burger')

ValueError: 'burger' is not in list

In [46]:
'burger' in food

False

In [47]:
for i in food:
    print food

['banana', 'bread', 'mee siam', 'noodles', 'rice']
['banana', 'bread', 'mee siam', 'noodles', 'rice']
['banana', 'bread', 'mee siam', 'noodles', 'rice']
['banana', 'bread', 'mee siam', 'noodles', 'rice']
['banana', 'bread', 'mee siam', 'noodles', 'rice']

In [48]:
for i in food:
    print i

banana
bread
mee siam
noodles
rice

In [49]:
for i in food:
    print i,food.index(i)

banana 0
bread 1
mee siam 2
noodles 3
rice 4

In [50]:
for index,item in enumerate(food):
    print index , item

0 banana
1 bread
2 mee siam
3 noodles
4 rice

In [51]:
for index,item in enumerate(food, start=1):
    print index , item

1 banana
2 bread
3 mee siam
4 noodles
5 rice

In [53]:
food_string = ' | '.join(food)
food_string

'banana | bread | mee siam | noodles | rice'

In [54]:
type(food_string)

str

In [55]:
new_food = food_string.split(' | ')
new_food

['banana', 'bread', 'mee siam', 'noodles', 'rice']

In [56]:
type(new_food)

list

In [57]:
food

['banana', 'bread', 'mee siam', 'noodles', 'rice']

In [58]:
food2 = food

In [59]:
food2[0]='veg'

In [60]:
food2

['veg', 'bread', 'mee siam', 'noodles', 'rice']

In [61]:
food[0]

'veg'

In [62]:
id(food)
id(food2)    #memory address

79647176L

In [63]:
id(food2)

79647176L

In [64]:
id(food)

79647176L

# Tuples

In [65]:
food_tuple = ('rice', 'noodles', 'bread', 'steak')
food_tuple2 = food_tuple

In [66]:
id(food_tuple)

107648008L

In [67]:
id(food_tuple2)

107648008L

In [68]:
food_tuple2[0]='veg' #cannnot be edited/imutable

TypeError: 'tuple' object does not support item assignment

In [69]:
food_tuple2.sort()
food_tuple2.insert()
food_tuple2.reverse()

AttributeError: 'tuple' object has no attribute 'sort'

In [70]:
food_tuple2.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [71]:
sorted_tuple1 = sorted(food_tuple)

In [72]:
sorted_tuple1

['bread', 'noodles', 'rice', 'steak']

# Sets

set are unordered and have no duplicates

In [73]:
food_set = {'rice', 'noodles', 'bread', 'steak'}
food_set

{'bread', 'noodles', 'rice', 'steak'}

In [74]:
food_set2 = {'rice', 'rice', 'noodles', 'bread', 'steak'}
food_set2

{'bread', 'noodles', 'rice', 'steak'}